@import url('//hello.myfonts.net/count/310b05');

@import url('//hello.myfonts.net/count/31cb28');

@font-face {
	font-family: 'PerpetuaMTStd-Bold';
	src: url('webfonts/31CB28_0_0.eot');
	src: url('webfonts/31CB28_0_0.eot?#iefix') format('embedded-opentype'),
		url('webfonts/31CB28_0_0.woff2') format('woff2'),
		url('webfonts/31CB28_0_0.woff') format('woff'),
		url('webfonts/31CB28_0_0.ttf') format('truetype');
}

@font-face {
	font-family: 'baskerville-italic';
	src: url('webfonts/310B05_0_0.eot');
	src: url('webfonts/310B05_0_0.eot?#iefix') format('embedded-opentype'),
		url('webfonts/310B05_0_0.woff2') format('woff2'),
		url('webfonts/310B05_0_0.woff') format('woff'),
		url('webfonts/310B05_0_0.ttf') format('truetype');
}

@font-face {
	font-family: 'century-gothic-bold';
	src: url('webfonts/310B05_1_0.eot');
	src: url('webfonts/310B05_1_0.eot?#iefix') format('embedded-opentype'),
		url('webfonts/310B05_1_0.woff2') format('woff2'),
		url('webfonts/310B05_1_0.woff') format('woff'),
		url('webfonts/310B05_1_0.ttf') format('truetype');
}

@font-face {
	font-family: 'century-gothic';
	src: url('webfonts/310B05_2_0.eot');
	src: url('webfonts/310B05_2_0.eot?#iefix') format('embedded-opentype'),
		url('webfonts/310B05_2_0.woff2') format('woff2'),
		url('webfonts/310B05_2_0.woff') format('woff'),
		url('webfonts/310B05_2_0.ttf') format('truetype');
}

@font-face {
	font-family: 'perpetua-mt';
	src: url('webfonts/310B05_3_0.eot');
	src: url('webfonts/310B05_3_0.eot?#iefix') format('embedded-opentype'),
		url('webfonts/310B05_3_0.woff2') format('woff2'),
		url('webfonts/310B05_3_0.woff') format('woff'),
		url('webfonts/310B05_3_0.ttf') format('truetype');
}

@font-face {
	font-family: 'perpetua';
	src: url('webfonts/310B05_4_0.eot');
	src: url('webfonts/310B05_4_0.eot?#iefix') format('embedded-opentype'),
		url('webfonts/310B05_4_0.woff2') format('woff2'),
		url('webfonts/310B05_4_0.woff') format('woff'),
		url('webfonts/310B05_4_0.ttf') format('truetype');
}
