/*=== Change background color and font family ===*/

body {
  background: #000000;
}

/*=== Adjust overall form padding ===*/

#login {
  padding: 4% 0 0;
}
 
/*=== Change Width and Height of Logo Image + Add Custom Image File ===*/

.login h1 a {
  background-image: url('../img/matte-logo-white.svg');
  width: 180px;
  height: 80px;
  background-size: 180px;
  margin: 0 auto;
}
 
/*=== Add a few changes to the color and style of form itself ===*/

.login form {
  margin-top: 10px;
}

.login label {
  color: #000;
  display: block;
  margin-bottom: 1em;
  font-weight: normal;
}
 
.login #backtoblog a, .login #nav a {
  color: #fff;
}
 
.wp-core-ui .button-primary {
  background: #000;
  border: none;
  text-shadow: none;
  box-shadow: none;
}

.wp-core-ui .button-primary:hover {
  background: #000;
  opacity: .8;
}

button, input, select, textarea {
  font-weight: normal;
}
