@import "variables.styl"
// global styles
body 
	font-size 12pt
	
	&.no-scroll
		overflow hidden
	
	a
		-webkit-transition all .2s ease-in-out
		-moz-transition all .2s ease-in-out
		-ms-transition all .2s ease-in-out
		-o-transition all .2s ease-in-out
		transition all .2s ease-in-out
		
	h1
		font-family $perpetua-mt
		font-size 2em
	
	#mobile-nav
		display none
	
	.filtered-item.slide-toggle
		position fixed
		top -100%
		left 0
		width 100%
		height 95vh
		background #000
		opacity 0
		-webkit-transition opacity .2s ease-in-out
		-moz-transition opacity .2s ease-in-out
		-o-transition opacity .2s ease-in-out
		-ms-transition opacity .2s ease-in-out
		transition opacity .2s ease-in-out
		
		&.down
			top 0
			opacity 1
			
	.panel-widget-style
		&.matte-caption
			font-size 10pt;

	header
		position fixed
		top 0
		left 0
		width 100%
		height 65px
		padding 15px 30px
		box-sizing border-box
		z-index 10
		-webkit-transition all .2s ease-in-out
		-moz-transition all .2s ease-in-out
		-o-transition all .2s ease-in-out
		-ms-transition all .2s ease-in-out
		transition all .2s ease-in-out
		
		&.background
			background $white
		
		&.black
			#logo
				.black
					display block
				
				.white
					display none
			
			#main-nav
				ul
					li
						a
							color $black
		
		&.white
			#logo
				.black
					display none
					
				.white
					display block
			
			#films-music
				a
					color $white

			#main-nav
				ul
					li
						text-align center
						padding-bottom 5px
						
						&.current_page_item
							a
								opacity 1						
							
						a, button
							color $white
							opacity .7
							
							&:hover
								opacity 1
				
		.social
			display none
			margin-left 15px !important
			
			&.active
				display inline
			
			li
				margin 0 18px 18px 0
			
				a, button
					border none
					background none	
					padding 0
					font-size .9em !important
		
		#logo
			display inline-block
			height inherit
			
			img
				width auto
				height inherit
		
		#films-music
			position absolute
			top 50%
			left 0
			opacity 0
			-webkit-transform translateY(-50%)
			-moz-transform translateY(-50%)
			transform translateY(-50%)
			font-size .65em
			text-transform uppercase
			letter-spacing .25em
			line-height 2em
			-webkit-transition all .2s ease-in-out
			-moz-transition all .2s ease-in-out
			-ms-transition all .2s ease-in-out
			-o-transition all .2s ease-in-out
			transition all .2s ease-in-out
			
			&.visible
				left 107px
				opacity 1
			
			a
				color $black
				text-decoration none
				margin 0 10px 0 30px
		
		#main-nav
			float right
			
			ul
				padding 0
				margin 0
				
				li
					list-style-type none
					display inline-block
					margin 0 10px
					
					a
						font-family $century-gothic
						font-size .7em
						text-decoration none
						text-transform uppercase
						letter-spacing .25em
		
		#mobile-trigger
			display none
						
	
	.content-wrap
		width 90%
		max-width 1280px
		margin 0 auto 60px

	.inner-wrap 
		position relative
		width 100%
		height 100%

	.clear
		clear both
	
	.newsfeed-grid
		width 100%
		-webkit-column-count 3
		-moz-column-count 3
		column-count 3
		-webkit-column-gap 20px 
		-moz-column-gap 20px 
		column-gap 20px
		
		.news-item
			width inherit
			display inline-block
			margin-bottom 20px
			
			> *
				margin 0
				
			.news-link
				color $black
				text-decoration none
							
			.news-thumbnail
				width 100%
				height auto
				
			.news-title
				width 100%
				display block
				margin 10px auto 0
				line-height .9em
				letter-spacing 1px
			
			.news-categories
				width 100%
				padding 0
				margin 0
				
				a
					position relative
					display inline-block
					width auto
					font-family $baskerville-italic
					text-decoration none
					text-transform lowercase
					color $black
					font-size 1.25em
	
	.grid-read-more
		display block
	
	.expand-read-more
		display none
	
	.grid-read-more, .expand-read-more
		margin auto
		background 0
		border 0
		position relative
		margin 0 auto
		font-family $baskerville-italic
		font-size 1.2em
		color $black
		text-decoration none
		
		&:focus
			outline none
			
		&:before
			content ""
			position absolute
			bottom -10px
			left 50%
			-webkit-transform translateX(-50%)
			-moz-transform translateX(-50%)
			transform translateX(-50%)
			height 5px
			width 10px
			background url('../img/dots.png') center center no-repeat
			background-size contain
		
		.grid-read-more
			display none
		
		
	#footer
		color $white
		width 100%
		height 250px
		background $black
		padding 30px
		box-sizing border-box
		font-family $century-gothic
		font-size .65em
		text-transform uppercase
		letter-spacing .25em
		line-height 2em
		
		.inner-wrap
			width 90%
			max-width 1280px
			margin auto
			
			#this-is-matte
				position absolute
				left 0
				bottom 0
				
				span
					margin 0 10px
					
				a
					color $white
					text-decoration none
					opacity .7
					
					&:hover
						opacity 1
						text-shadow 0 0 3px rgba(255,255,255,.7)
			
			#contact
				position absolute
				right 0
				bottom 0
				
				.social
					a, button
						color $white
						border none
						background none	
						padding 0
						font-size 1.25em
						margin 0 18px 18px 0
	
	#lightbox
		display none
		z-index 99999 !important
		position fixed
		top 0
		left 0
		width 100%
		height 100%
		background rgba(255,255,255,.98)
		cursor pointer

		&.visible
			display block
			
			.close
				background 0
				border 0
				position absolute
				top 30px
				right 30px
				font-family $baskerville-italic
				font-size 1.15em
				color $black
				text-decoration none
				
				&:focus
					outline none
				
				&:before
					content ""
					position absolute
					bottom -5px
					left 50%
					-webkit-transform translateX(-50%)
					-moz-transform translateX(-50%)
					transform translateX(-50%)
					height 5px
					width 25px
					background url('../img/dots.png') center center no-repeat
					background-size contain

			img
				position absolute
				top 50%
				left 50%
				-webkit-transform translate(-50%, -50%)	
				-moz-transform translate(-50%, -50%)
				transform translate(-50%, -50%)
				max-width 80%
				max-width 80vw
				max-height 90%
				max-height 90vh
				width auto
				height auto
				cursor auto
	
	#searchform-trigger, #back-to-top
		position fixed
		top 50%
		-webkit-transform translateY(-50%)
		-moz-transform translateY(-50%)
		transform translateY(-50%)
		-webkit-transform rotate(270deg)
		-moz-transform rotate(270deg)
		transform rotate(270deg)
		font-family $baskerville-italic
		font-size 1.2em
		color $black
		text-decoration none
		background 0
		border 0
		
		&:focus
			outline 0
	
	#searchform-trigger
		left -25px
	
	#back-to-top
		right -25px
		
		span
			margin-left 10px

// front-page
body
	&.home
		.main-banner
			width 100%
			height 800px
			height 95vh
			margin-bottom 0

			.inner-wrap
				.banner-image
					opacity 0
					position absolute
					top 0
					left 0
					width 100%
					height 100%
					z-index -5
					-webkit-transition opacity .33s ease-in-out
					-moz-transition opacity .33s ease-in-out
					-ms-transition opacity .33s ease-in-out
					-o-transition opacity .33s ease-in-out
					transition opacity .33s ease-in-out
					
					a
						&.touch
							display none

					&.full-opacity
						opacity 1
					
				.banner-title
					position absolute
					margin 0
					top 50%
					left 50%
					-webkit-transform translate(-50%, -50%)
					-moz-transform translate(-50%, -50%)
					transform translate(-50%, -50%)
					text-align center
					
					a
						display inline-block
						font-family $perpetua-mt
						font-size 2em
						color $black
						text-decoration none
						
						&:hover
							color $white
							text-shadow 0 0 3px rgba(255,255,255,.5)
				
				.recent-work
					position absolute
					bottom 0
					width 100%
					text-align center
					margin-bottom 30px
					
					a
						position relative
						margin 0 30px
						font-family $baskerville-italic
						font-size 1.2em
						color $black
						text-decoration none
							
						&:before
							content ""
							position absolute
							bottom -10px
							left 50%
							-webkit-transform translateX(-50%)
							-moz-transform translateX(-50%)
							transform translateX(-50%)
							height 5px
							width 10px
							background url('../img/dots.png') center center no-repeat
							background-size contain
		
		.content-wrap 
			padding-top 90px
				
		
		.newsfeed-toggle
			font-family $baskerville-italic
			text-align center
			margin 30px auto 60px

			span
				font-size 1.15em
				color $grey
				
				&:last-of-type
					margin 0 2px
			
			#expand, #collapse
				position relative
				padding 0
				border none
				background none
				font-size 1.25em
				color $black
				
				&:before, &::before
					content ""
					position absolute
					bottom -5px
					width 0
					height 1px
					background $black
					-webkit-transition width .2s ease-in-out
					-moz-transition width .2s ease-in-out
					-ms-transition width .2s ease-in-out
					-o-transition width .2s ease-in-out
					transition width .2s ease-in-out
					
				&:hover:before, &:hover::before
					width 100%
				
				&:focus
					outline none
			
			#collapse
				display none

		// .newsfeed-grid
		// 	width 100%
		// 	-webkit-column-count 3
		// 	-moz-column-count 3
		// 	column-count 3
		// 	-webkit-column-gap 20px 
		// 	-moz-column-gap 20px 
		// 	column-gap 20px
			
		// 	.news-item
		// 		width inherit
		// 		display inline-block
		// 		margin-bottom 20px
				
		// 		> *
		// 			margin 0
					
		// 		.news-link
		// 			color $black
		// 			text-decoration none
								
		// 		.news-thumbnail
		// 			width 100%
		// 			height auto
					
		// 		.news-title
		// 			width 100%
		// 			display block
		// 			margin 5px auto 0
				
		// 		.news-categories
		// 			width 100%
		// 			padding 0
		// 			margin 0
					
		// 			a
		// 				position relative
		// 				display inline-block
		// 				width auto
		// 				font-family $baskerville-italic
		// 				text-decoration none
		// 				text-transform lowercase
		// 				color $black
		// 				font-size 1.25em
		
		.newsfeed-grid
			display block
		
		.newsfeed-expand
			display none
			
			.news-item
				.news-copy
					width 85%
					margin auto
					
					.left
						width 33%
						margin-right 8%
						float left
						
						.news-title
							margin 10px auto 0
							line-height 0.9em
							letter-spacing 1px
						
						.news-categories
							width 100%
							padding 0
							margin 0
							
							a
								position relative
								display inline-block
								width auto
								font-family $baskerville-italic
								text-decoration none
								text-transform lowercase
								color $black
								font-size 1.25em
					
					.right
						width 55%
						float left
						
						.news-description
							font-family $perpetua
							font-size 1em
							line-height 1.5em
							margin-bottom 15px
						
						.news-link
							text-decoration none
							color $black
							font-family $baskerville-italic
							font-size 1.2em
							
							span
								margin-left 15px
					
				.news-thumbnail
					margin 60px auto 120px
					width 100%
					height auto
														
// single styles
body
	&.single
		.single-banner
			width 100%
			height 800px
			height 50vh
			// margin-bottom 90px
		
		.content-wrap
			padding-top 90px
			font-family $perpetua
			
			h1, h3
				font-family $perpetua-mt
			
			h1
				display block
				width 85%
				margin auto
			
			h3
				font-size 1.25em
			
			.bottom-right-panel
				position absolute
				right 0
				bottom 0
			
			.bottom-left-panel
				position absolute
				left 0
				bottom 0
			
			.lightbox-item
				cursor pointer
				-webkit-transition all .2s ease-in-out
				-moz-transition all .2s ease-in-out
				-ms-transition all .2s ease-in-out
				-o-transition all .2s ease-in-out
				transition all .2s ease-in-out
				
				&:hover
					opacity .9
				
			.post-nav
				margin-top 90px
				text-align center
				
				.back-to-main
					float left
				
				.next-project
					float right
				
				a
					position relative
					margin 0 30px
					font-family $baskerville-italic
					font-size 1.15em
					color $black
					text-decoration none
					
					&:before
						content ""
						position absolute
						bottom -15px
						left 50%
						-webkit-transform translateX(-50%)
						-moz-transform translateX(-50%)
						transform translateX(-50%)
						height 5px
						width 30px
						background url('../img/dots.png') center center no-repeat
						background-size contain
			
			.related-articles
				border-top 1px solid $black
				margin-top 120px
				
				.related-articles-title
					width 100%
					position relative
					margin 60px 0
					font-family $baskerville-italic
					font-size 1.15em
					color $black
					text-decoration none
					text-align center

// archive styles (custom taxonomy, categories, search results)
body
	&.archive, &.search
		
		h1 
			font-weight normal
			
		.content-wrap
			margin-top 150px
			
			.back-wrapper
				width 100%
				text-align center
				margin-bottom 40px

				.back
					background 0
					border 0
					position relative
					margin 0 auto
					font-family $baskerville-italic
					font-size 1.2em
					color $black
					text-decoration none
						
					&:before
						content ""
						position absolute
						bottom -10px
						left 50%
						-webkit-transform translateX(-50%)
						-moz-transform translateX(-50%)
						transform translateX(-50%)
						height 5px
						width 10px
						background url('../img/dots.png') center center no-repeat
						background-size contain

			.taxonomy-title
				text-align center
				
			.taxonomy-description
				p
					font-family $baskerville
					margin 0 auto 30px
					max-width 650px
			
			.permalink 
				color $white

			.post
				position relative
				margin-bottom 20px
				box-sizing border-box
				padding 0 100px
				height 525px
				
				.permalink
					position absolute
					top 0
					left 0
					width 100%
					height 100%
				
				.inner-content
					position absolute
					top 50%
					-webkit-transform translateY(-50%)
					-moz-transform translateY(-50%)
					transform translateY(-50%)
					
					.client-title
						display inline-block
						position relative
						font-family $baskerville-italic
						font-size 1.2em
						text-transform lowercase
						
						&:before, &::before
							content ""
							position absolute
							height 1px
							background $white
							width 100%
							bottom -10px
							left 50%
							
						li
							display inline
							list-style none
							
							a
								text-decoration none
								color $white

					.post-title, .narrow-post-title
						margin-top 60px
						color $white
					
					.narrow-post-title
						width 1px
					


// video reel styles
body
	&.page-template-template-reel
		.video-wrap
			position relative
			width 100%
			height 100%
			height 100vh
			overflow hidden
			
			.background-video
				position absolute
				z-index -5
				min-width 100%
				min-height 100%
				width auto
				height auto
				top 50%
				left 50%
				-webkit-transform translate(-50%, -50%)
				-moz-transform translate(-50%, -50%)
				transform translate(-50%, -50%)
				
		footer#footer
			background 0
			position fixed
			bottom 0
			
		#searchform-trigger, #back-to-top
			display none

// about page styles
body
	&.page-template-template-about
		background $black
		color $white
		
		.content-wrap
			position relative
			min-height 80vh
			
			.inner-content
				width 100%
				position absolute
				top 50%
				left 50%
				-webkit-transform translate(-50%, -50%)
				-moz-transform translate(-50%, -50%)
				transform translate(-50%, -50%)
				text-align center
				text-transform uppercase
				
				h1 
					font-weight normal
					letter-spacing 1px
		
		footer#footer
			position fixed
			bottom 0

body
	#post-7
		color $white
		z-index 5
		
		.inner-content
			width 100%
			position absolute
			top 50%
			left 50%
			-webkit-transform translate(-50%, -50%)
			-moz-transform translate(-50%, -50%)
			transform translate(-50%, -50%)
			text-align center
			text-transform uppercase
			
			h1 
				font-weight normal
				letter-spacing 2px
				line-height 1.15em

// clients page styles
body
	&.page-template-template-clients
		background $black
		color $white
		
		.content-wrap
			position relative
			min-height 80vh
			
			.inner-content
				width 100%
				max-height 500px
				position absolute
				top 50%
				left 50%
				-webkit-transform translate(-50%, -50%)
				-moz-transform translate(-50%, -50%)
				transform translate(-50%, -50%)
				text-align center
				text-transform uppercase
				font-family $perpetua-mt
				
				ul
					margin 0
					padding 0
					list-style none
					-webkit-column-count 3
					-moz-column-count 3
					column-cound 3
					
					li
						width 100%
						line-height 2.5em
					
						a
							color $white
							text-decoration none
		
		footer#footer
			position fixed
			bottom 0

body
	#post-9
		color $white
		z-index 5
		
		.content-wrap
			padding-top 0
			margin-top 0
			position relative
			height 100%
			
			.inner-content
				width 100%
				max-height 500px
				position absolute
				top 50%
				left 50%
				-webkit-transform translate(-50%, -50%)
				-moz-transform translate(-50%, -50%)
				transform translate(-50%, -50%)
				text-align center
				text-transform uppercase
				font-family $perpetua-mt
				
				ul
					margin 0
					padding 0
					list-style none
					-webkit-column-count 3
					-moz-column-count 3
					column-cound 3
					
					li
						width 100%
						line-height 2.5em
					
						a
							color $white
							text-decoration none
	
		footer#footer
			position fixed
			bottom 0

// search form
.search-background
	display none
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	background #fff
	background rgba(255,255,255,.95)
	z-index 10
	
	&.visible 
		display block
	
	.inner-wrap
		text-align center
		
		.inner-content
			position absolute
			top 50%
			left 50%
			-webkit-transform translate(-50%,-50%)
			-moz-transform translate(-50%,-50%)
			transform translate(-50%,-50%)
			
			.screen-reader-text
				display none
				
			input#s
				background 0
				border 0
				text-align center
				font-family $perpetua-mt
				font-size 2em
				color $charcoal
				text-transform uppercase
				
				&:focus
					outline none
			
			#searchsubmit
				display none
				
			.categories
				padding 0
				margin 90px auto
				list-style none
				font-size 1.2em
				
				li
					display inline
					text-transform lowercase
					color $grey
					font-family $baskerville-italic
					margin 0 15px
					
					a
						color $charcoal
						text-decoration none
						padding-bottom 5
						position relative
						
						&:before, &::before
							content ""
							position absolute
							bottom -5px
							width 0
							height 1px
							background $black
							-webkit-transition width .2s ease-in-out
							-moz-transition width .2s ease-in-out
							-ms-transition width .2s ease-in-out
							-o-transition width .2s ease-in-out
							transition width .2s ease-in-out
							
						&:hover:before, &:hover::before
							width 100%
			
			.close
				background 0
				border 0
				position relative
				margin 0 auto
				font-family $baskerville-italic
				font-size 1.2em
				color $black
				text-decoration none
				
				&:focus
					outline none
					
				&:before
					content ""
					position absolute
					bottom -10px
					left 50%
					-webkit-transform translateX(-50%)
					-moz-transform translateX(-50%)
					transform translateX(-50%)
					height 5px
					width 10px
					background url('../img/dots.png') center center no-repeat
					background-size contain		