@import 'fonts.css';

body {
	font-size: 12pt;
}
body.no-scroll {
	overflow: hidden;
}
body a {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
body h1 {
	font-family: 'perpetua-mt', helvetica, sans-serif;
	font-size: 1.7em;
	letter-spacing: 0.03em;
}
body #mobile-nav {
	display: none;
}
body .filtered-item.slide-toggle {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
	width: 100%;
	height: 100vh;
	background: #000;
	opacity: 0;
}
body .filtered-item.slide-toggle.down {
	top: 0;
	z-index: 5;
	opacity: 1;
	-webkit-transition: opacity 0.4s 0.3s ease-in-out;
	-moz-transition: opacity 0.4s 0.3s ease-in-out;
	-o-transition: opacity 0.4s 0.3s ease-in-out;
	-ms-transition: opacity 0.4s 0.3s ease-in-out;
	transition: opacity 0.4s 0.3s ease-in-out;
}
body .panel-widget-style.matte-caption {
	font-size: 10pt;
}
body header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 65px;
	padding: 15px 30px;
	box-sizing: border-box;
	z-index: 10;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
body header.background {
	background: #fff;
}
body header.black #logo .black {
	display: block;
}
body header.black #logo .white {
	display: none;
}
body header.black #main-nav ul li a {
	color: #000;
}
body header.white #logo .black {
	display: none;
}
body header.white #logo .white {
	display: block;
}
body header.white #films-music a {
	color: #fff;
}
body header.white #main-nav ul li {
	text-align: center;
	padding-bottom: 5px;
}
body header.white #main-nav ul li.current_page_item a {
	opacity: 1;
}
body header.white #main-nav ul li a,
body header.white #main-nav ul li button {
	color: #fff;
	opacity: 0.7;
}
body header.white #main-nav ul li a:hover,
body header.white #main-nav ul li button:hover {
	opacity: 1;
}

li#connect {
	position: relative;
	padding-right: 0px !important;
	transition: padding 0.3s ease-in-out;
}

li#connect.active {
	padding-right: 250px !important;
}

li#connect ul.social {
	opacity: 0;
	transition: opacity 0s ease-in-out;
	display: flex;
	align-items: center;
}

li#connect.active ul.social {
	opacity: 1;
	transition: opacity 1s 0.2s ease-in-out;
}

li.social_text_link {
	font-size: 0.6em;
	letter-spacing: 0.5em;
	line-height: 1.4em;
}

body header #connect.active .connect_link {
	opacity: 0;
}

body header .social {
	display: inline-block;
	transition: all 0.5s ease-in-out;
	margin-right: -200px !important;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}

body header #connect.active .social {
	margin-right: 0px !important;
	opacity: 1;
}

body header .social li {
	margin: 0 18px 18px 0;
}

body header .social li a,
body header .social li button {
	border: none;
	background: none;
	padding: 0;
	font-size: 0.9em !important;
}
body header #logo {
	display: inline-block;
	height: inherit;
}
body header #logo img {
	width: auto;
	height: inherit;
}
body header #films-music {
	position: absolute;
	top: 50%;
	left: 0;
	opacity: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 0.6em;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	line-height: 2em;
	font-family: 'century-gothic-bold', sans-serif;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
body header #films-music.visible {
	left: 110px;
	opacity: 1;
}
body header #films-music a {
	color: #000;
	text-decoration: none;
	margin: 0 10px 0 30px;
}
body header #main-nav {
	float: right;
	top: 5px;
	position: relative;
}
body header #main-nav ul {
	padding: 0;
	margin: 0;
}
body header #main-nav ul li {
	list-style-type: none;
	display: inline-block;
	margin: 0 10px;
}
body header #main-nav ul li a {
	font-family: 'century-gothic-bold', helvetica, sans-serif;
	font-size: 0.6em;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	line-height: 1.4em;
}
body header #mobile-trigger {
	display: none;
}
body .content-wrap {
	width: 90%;
	max-width: 1280px;
	margin: 0 auto 60px;
}
body .inner-wrap {
	position: relative;
	width: 100%;
	height: 100%;
}
body .clear {
	clear: both;
}
body #lightbox {
	display: none;
	z-index: 99999 !important;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.98);
	cursor: pointer;
}
body #lightbox.visible {
	display: block;
}
body #lightbox.visible .close {
	background: 0;
	border: 0;
	position: absolute;
	top: 30px;
	right: 30px;
	font-family: 'baskerville-italic', garamond, serif;
	font-size: 1.15em;
	color: #000;
	text-decoration: none;
}
body #lightbox.visible .close:focus {
	outline: none;
}
body #lightbox.visible .close:before {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 5px;
	width: 25px;
	background: url('../img/dots.png') center center no-repeat;
	background-size: contain;
}
body #lightbox.visible img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-width: 80%;
	max-width: 80vw;
	max-height: 90%;
	max-height: 90vh;
	width: auto;
	height: auto;
	cursor: auto;
}
body #searchform-trigger,
body #back-to-top {
	position: fixed;
	top: 45%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	transform: rotate(270deg);
	font-family: 'baskerville-italic', garamond, serif;
	font-size: 1.2em;
	color: #000;
	text-decoration: none;
	background: 0;
	border: 0;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

@media all and (max-height: 650px) {
	body #searchform-trigger,
	body #back-to-top {
		top: 20%;
	}
}

body #searchform-trigger.visible,
body #back-to-top.visible {
	opacity: 1;
}

body #searchform-trigger:focus,
body #back-to-top:focus {
	outline: 0;
}
body #searchform-trigger {
	left: -25px;
}
body #back-to-top {
	right: -30px;
}
body #back-to-top span {
	margin-left: 10px;
}
body.home .main-banner .inner-wrap .banner-image {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -5;
	-webkit-transition: opacity 0.33s ease-in-out;
	-moz-transition: opacity 0.33s ease-in-out;
	-ms-transition: opacity 0.33s ease-in-out;
	-o-transition: opacity 0.33s ease-in-out;
	transition: opacity 0.33s ease-in-out;
}
body.home .main-banner .inner-wrap .banner-image a.touch {
	display: none;
}
body.home .main-banner .inner-wrap .banner-image.full-opacity {
	opacity: 1;
}
body.home .main-banner .inner-wrap .banner-title {
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
body.home .main-banner .inner-wrap .banner-title a {
	display: inline-block;
	font-family: 'perpetua-mt', helvetica, sans-serif;
	font-size: 2em;
	line-height: 0.9em;
	letter-spacing: 0.03em;
	color: #000;
	text-decoration: none;
}
body.home .main-banner .inner-wrap .banner-title a:hover {
	color: #fff;
	text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}
body.home .main-banner .inner-wrap .recent-work {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	color: white;
}
body.home .main-banner .inner-wrap .recent-work a {
	position: relative;
	margin: 0 30px;
	font-family: 'baskerville-italic', garamond, serif;
	font-size: 1.2em;
	color: inherit;
	display: block;
	text-decoration: none;
}
body.home .main-banner .inner-wrap .recent-work a span.horizontal_dots {
	display: block;
	text-align: center;
	font-size: 10px;
}
body.home .newsfeed-toggle {
	font-family: 'baskerville-italic', garamond, serif;
	text-align: center;
	margin: 30px auto 60px;
}
body.home .newsfeed-toggle span {
	font-size: 1.15em;
	color: #c2c2c2;
}
body.home .newsfeed-toggle span:last-of-type {
	margin: 0 2px;
}
body.home .newsfeed-toggle #expand,
body.home .newsfeed-toggle #collapse {
	position: relative;
	padding: 0;
	border: none;
	background: none;
	font-size: 1.25em;
	color: #000;
}
body.home .newsfeed-toggle #expand:before,
body.home .newsfeed-toggle #collapse:before,
body.home .newsfeed-toggle #expand::before,
body.home .newsfeed-toggle #collapse::before {
	content: '';
	position: absolute;
	bottom: -5px;
	width: 0;
	height: 1px;
	background: #000;
	-webkit-transition: width 0.2s ease-in-out;
	-moz-transition: width 0.2s ease-in-out;
	-ms-transition: width 0.2s ease-in-out;
	-o-transition: width 0.2s ease-in-out;
	transition: width 0.2s ease-in-out;
}
body.home .newsfeed-toggle #expand:hover:before,
body.home .newsfeed-toggle #collapse:hover:before,
body.home .newsfeed-toggle #expand:hover::before,
body.home .newsfeed-toggle #collapse:hover::before {
	width: 100%;
}
body.home .newsfeed-toggle #expand:focus,
body.home .newsfeed-toggle #collapse:focus {
	outline: none;
}
body.home .newsfeed-toggle #collapse {
	display: none;
}
body.home .newsfeed-grid {
	display: block;
}
body.home .newsfeed-expand {
	display: none;
}
body.home .newsfeed-expand .news-item .news-copy {
	width: 85%;
	margin: 0 auto 50px;
}
body.home .newsfeed-expand .news-item .news-copy .left {
	width: 33%;
	margin-right: 8%;
	float: left;
}
body.home .newsfeed-expand .news-item .news-copy .left .news-title {
	margin: 10px auto 0;
	line-height: 0.9em;
}
body.home .newsfeed-expand .news-item .news-copy .left .news-categories {
	width: 100%;
	padding: 0;
	margin: 0;
}
body.home .newsfeed-expand .news-item .news-copy .left .news-categories a {
	position: relative;
	display: inline-block;
	width: auto;
	font-family: 'baskerville-italic', garamond, serif;
	text-decoration: none;
	text-transform: lowercase;
	color: #000;
	font-size: 1.25em;
}
body.home .newsfeed-expand .news-item .news-copy .right {
	width: 55%;
	float: left;
}
body.home .newsfeed-expand .news-item .news-copy .right .news-description {
	font-family: 'perpetua', helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 15px;
}
body.home .newsfeed-expand .news-item .news-copy .right .news-link {
	text-decoration: none;
	color: #000;
	font-family: 'baskerville-italic', garamond, serif;
	font-size: 1.2em;
}
body.home .newsfeed-expand .news-item .news-copy .right .news-link span {
	margin-left: 15px;
}
body.home .newsfeed-expand .news-item .news-thumbnail {
	width: 100%;
	height: auto;
}
body.single .single-banner {
	width: 100%;
	height: 70vh;
}
body.single .content-wrap {
	padding-top: 90px;
	font-family: 'perpetua', helvetica, sans-serif;
}
body.single .content-wrap h1,
body.single .content-wrap h3 {
	font-family: 'perpetua-mt', helvetica, sans-serif;
}
body.single .content-wrap h1 {
	display: block;
	width: 85%;
	margin: auto;
}
body.single .content-wrap h3 {
	font-size: 1.25em;
}
body.single .content-wrap .bottom-right-panel {
	position: absolute;
	right: 0;
	bottom: 0;
}
body.single .content-wrap .bottom-left-panel {
	position: absolute;
	left: 0;
	bottom: 0;
}
body.single .content-wrap .lightbox-item {
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
body.single .content-wrap .lightbox-item:hover {
	opacity: 0.9;
}
body.single .content-wrap .post-nav {
	margin-top: 90px;
	text-align: center;
}
body.single .content-wrap .post-nav .back-to-main,
body.single .content-wrap .post-nav .next-project {
	display: inline-block;
}
body.single .content-wrap .post-nav a {
	position: relative;
	font-family: 'baskerville-italic', garamond, serif;
	font-size: 1.15em;
	color: #000;
	text-decoration: none;
	padding: 0px 50px;
}

@media all and (max-width: 568px) {
	body.single .content-wrap .post-nav .back-to-main,
	body.single .content-wrap .post-nav .next-project {
		display: block;
		width: 100%;
	}
}

body.single .content-wrap .post-nav a:before {
	content: '';
	position: absolute;
	bottom: -15px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 5px;
	width: 30px;
	background: url('../img/dots.png') center center no-repeat;
	background-size: contain;
}
body.single .content-wrap .related-articles {
	margin-top: 120px;
}
body.single .content-wrap .related-articles .related-articles-title {
	width: 100%;
	position: relative;
	margin: 60px 0;
	font-family: 'baskerville-italic', garamond, serif;
	font-size: 1.15em;
	color: #000;
	text-decoration: none;
	text-align: center;
}
body.archive h1,
body.search h1 {
	font-weight: normal;
}
body.archive .content-wrap,
body.search .content-wrap {
	margin-top: 150px;
}
body.archive .content-wrap .back-wrapper,
body.search .content-wrap .back-wrapper {
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
}
body.archive .content-wrap .back-wrapper .back,
body.search .content-wrap .back-wrapper .back {
	background: 0;
	border: 0;
	position: relative;
	margin: 0 auto;
	font-family: 'baskerville-italic', garamond, serif;
	font-size: 1.2em;
	color: #000;
	text-decoration: none;
}
body.archive .content-wrap .back-wrapper .back:before,
body.search .content-wrap .back-wrapper .back:before {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 5px;
	width: 10px;
	background: url('../img/dots.png') center center no-repeat;
	background-size: contain;
}
body.archive .content-wrap .taxonomy-title,
body.search .content-wrap .taxonomy-title {
	text-align: center;
}
body.archive .content-wrap .taxonomy-description p,
body.search .content-wrap .taxonomy-description p {
	font-family: 'perpetua', helvetica, sans-serif;
	margin: 0 auto 60px;
	max-width: 750px;
	text-align: center;
}
body.archive .content-wrap .permalink,
body.search .content-wrap .permalink {
	color: #fff;
}
body.archive .content-wrap .post,
body.search .content-wrap .post {
	position: relative;
	margin-bottom: 20px;
	box-sizing: border-box;
	padding: 0 100px;
	height: 525px;
}
body.archive .content-wrap .post .permalink,
body.search .content-wrap .post .permalink {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
body.archive .content-wrap .post .inner-content,
body.search .content-wrap .post .inner-content {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
body.archive .content-wrap .post .inner-content .client-title,
body.search .content-wrap .post .inner-content .client-title {
	display: inline-block;
	position: relative;
	font-family: 'baskerville-italic', garamond, serif;
	font-size: 1.2em;
	text-transform: lowercase;
}
body.archive .content-wrap .post .inner-content .client-title:before,
body.search .content-wrap .post .inner-content .client-title:before,
body.archive .content-wrap .post .inner-content .client-title::before,
body.search .content-wrap .post .inner-content .client-title::before {
	content: '';
	position: absolute;
	height: 1px;
	background: #fff;
	width: 100%;
	bottom: -10px;
	left: 50%;
}
body.archive .content-wrap .post .inner-content .client-title li,
body.search .content-wrap .post .inner-content .client-title li {
	display: inline;
	list-style: none;
}
body.archive .content-wrap .post .inner-content .client-title li a,
body.search .content-wrap .post .inner-content .client-title li a {
	text-decoration: none;
	color: #fff;
}
body.archive .content-wrap .post .inner-content .post-title,
body.search .content-wrap .post .inner-content .post-title,
body.archive .content-wrap .post .inner-content .narrow-post-title,
body.search .content-wrap .post .inner-content .narrow-post-title {
	margin-top: 60px;
	color: #fff;
}
body.archive .content-wrap .post .inner-content .narrow-post-title,
body.search .content-wrap .post .inner-content .narrow-post-title {
	width: 1px;
}
body.page-template-template-reel .video-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	height: 100vh;
	overflow: hidden;
}
body.page-template-template-reel .video-wrap .background-video {
	position: absolute;
	z-index: -5;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
body.page-template-template-reel footer#footer {
	display: none;
}
body.page-template-template-reel #searchform-trigger,
body.page-template-template-reel #back-to-top {
	display: none;
}
body.page-template-template-about {
	background: #000;
	color: #fff;
}
body.page-template-template-about .content-wrap {
	position: relative;
	height: 100vh;
	margin: 0 auto !important;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
body.page-template-template-about .content-wrap .inner-content {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	text-transform: uppercase;
}
body.page-template-template-about .content-wrap .inner-content h1 {
	font-weight: normal;
	letter-spacing: 1px;
}
body #post-7 {
	color: #fff;
}
body #post-7 .inner-content {
	width: 90%;
	max-width: 1080px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	text-transform: uppercase;
}
body #post-7 .inner-content h1 {
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 1.15em;
	width: 100%;
}
body.page-template-template-clients {
	background: #000;
	color: #fff;
}
body.page-template-template-clients .content-wrap {
	position: relative;
	min-height: 80vh;
}
body.page-template-template-clients .content-wrap .inner-content {
	width: 100%;
	max-height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	text-transform: uppercase;
	font-family: 'perpetua-mt', helvetica, sans-serif;
}
body.page-template-template-clients .content-wrap .inner-content ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
body.page-template-template-clients .content-wrap .inner-content ul li a {
	color: #fff;
	text-decoration: none;
}
body.page-template-template-clients footer#footer {
	position: fixed;
	bottom: 0;
}
body #post-9 {
	color: #fff;
}
body #post-9 .content-wrap {
	padding-top: 0;
	margin-top: 0;
	position: relative;
	height: 100%;
}
body #post-9 .content-wrap .inner-content {
	width: 100%;
	max-height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	text-transform: uppercase;
	font-family: 'perpetua-mt', helvetica, sans-serif;
}
body #post-9 .content-wrap .inner-content ul li a {
	color: #fff;
	text-decoration: none;
}
body #post-9 footer#footer {
	position: fixed;
	bottom: 0;
}
.search-background {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	background: rgba(255, 255, 255, 0.95);
	z-index: -99;
	transition: opacity 0.5s ease-in-out, z-index 0s 1s;
}
.search-background.visible {
	opacity: 1;
	z-index: 10;
	transition: opacity 0.5s ease-in-out;
}
.search-background .inner-wrap {
	text-align: center;
}
.search-background .inner-wrap .inner-content {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.search-background .inner-wrap .inner-content .screen-reader-text {
	display: none;
}
.search-background .inner-wrap .inner-content input#s {
	background: 0;
	border: 0;
	text-align: center;
	font-family: 'perpetua-mt', helvetica, sans-serif;
	font-size: 2em;
	color: #242323;
	text-transform: uppercase;
}
.search-background
	.inner-wrap
	.inner-content
	input#s::-webkit-input-placeholder {
	color: #c2c2c2;
}
.search-background .inner-wrap .inner-content input#s:focus {
	outline: none;
}
.search-background .inner-wrap .inner-content #searchsubmit {
	display: none;
}
.search-background .inner-wrap .inner-content .categories {
	padding: 0;
	margin: 90px auto;
	list-style: none;
	font-size: 1.2em;
}
.search-background .inner-wrap .inner-content .categories li {
	display: inline;
	text-transform: lowercase;
	color: #c2c2c2;
	font-family: 'baskerville-italic', garamond, serif;
	margin: 0 15px;
	line-height: 2.5em;
}
.search-background .inner-wrap .inner-content .categories li a {
	color: #242323;
	text-decoration: none;
	padding-bottom: 5;
	position: relative;
}
.search-background .inner-wrap .inner-content .categories li a:before,
.search-background .inner-wrap .inner-content .categories li a::before {
	content: '';
	position: absolute;
	bottom: -5px;
	width: 0;
	height: 1px;
	background: #000;
	-webkit-transition: width 0.2s ease-in-out;
	-moz-transition: width 0.2s ease-in-out;
	-ms-transition: width 0.2s ease-in-out;
	-o-transition: width 0.2s ease-in-out;
	transition: width 0.2s ease-in-out;
}
.search-background .inner-wrap .inner-content .categories li a:hover:before,
.search-background .inner-wrap .inner-content .categories li a:hover::before {
	width: 100%;
}
.search-background .inner-wrap .inner-content .close {
	background: 0;
	border: 0;
	position: relative;
	margin: 0 auto;
	font-family: 'baskerville-italic', garamond, serif;
	font-size: 1.2em;
	color: #000;
	text-decoration: none;
}
.search-background .inner-wrap .inner-content .close:focus {
	outline: none;
}
.search-background .inner-wrap .inner-content .close:before {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 5px;
	width: 10px;
	background: url('../img/dots.png') center center no-repeat;
	background-size: contain;
}

/*--------------------
Hero Slider
--------------------*/

/* flickity-fade */

.flickity-enabled.is-fade .flickity-slider > * {
	pointer-events: none;
	z-index: 0;
}

.flickity-enabled.is-fade .flickity-slider > .is-selected {
	pointer-events: auto;
	z-index: 1;
}

/* Hero Slider */

.hero-slider-container {
	position: relative;
}

.hero-slider {
	width: 100%;
	height: 100vh;
	background: black;
	opacity: 0;
}

.hero-slider--is-visible {
	opacity: 1;
}

.hero-slide {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	display: block;
	pointer-events: none;
	transition: opacity 0.3s ease-in-out;
}

.hero-slide:first-child {
	position: relative;
}

.hero-slide:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	display: block;
	content: '';
}

.hero-slide--is-selected {
	opacity: 1;
	pointer-events: all;
}

.hero-slide img {
	display: block;
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
}

/* Hero Slider -- Nav */

.hero-slider-nav {
	box-sizing: border-box;
	position: absolute;
	bottom: 80px;
	width: 100%;
	padding: 0 10px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.hero-slider-nav__link {
	margin-right: 10px;
	color: white;
	display: flex;
}

.hero-slider-nav__link:before {
	content: '//';
	font-family: perpetua-mt;
	font-size: 40px;
	margin-right: 10px;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 1px;
	opacity: 0.5;
	transition: opacity 0.3s ease-in-out;
}

@supports (-webkit-text-stroke-color: white) {
	.hero-slider-nav__link:before {
		color: transparent;
	}
}

@media all and (min-width: 1024px) {
	.hero-slider-nav__link:before {
		font-size: 50px;
	}
}

.hero-slider-nav__link--is-selected:before {
	opacity: 1;
	-webkit-text-stroke-width: 0;
	color: white;
}

.hero-slider-nav__title {
	display: block;
	cursor: pointer;
	opacity: 0.5;
	font-family: perpetua-mt;
	font-size: 40px;
	letter-spacing: 3px;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 1px;
	margin-bottom: 5px;
	color: white;
	transition: opacity 0.3s ease-in-out;
}

@supports (-webkit-text-stroke-color: white) {
	.hero-slider-nav__title {
		color: transparent;
	}
}

@media all and (min-width: 1024px) {
	.hero-slider-nav__title {
		font-size: 50px;
	}
}

.hero-slider-nav__link--is-selected .hero-slider-nav__title {
	opacity: 1;
	-webkit-text-stroke-width: 0;
	color: white;
}

.hero-slider-nav__description {
	opacity: 0;
	font-family: century-gothic;
	text-transform: uppercase;
	max-width: 180px;
	display: block;
	line-height: 17px;
	font-size: 10px;
	letter-spacing: 0.1em;
	transition: opacity 0.3s ease-in-out;
}

@media all and (min-width: 1024px) {
	.hero-slider-nav__description {
		max-width: 220px;
	}
}

.hero-slider-nav__link--is-selected .hero-slider-nav__description {
	opacity: 1;
}

.hero-slider-nav__description-category {
	font-style: italic;
}
