@import "variables.styl"

@media all and (min-height:760px) and (min-width:930px)
	body
		&.home 
			.banner-title 
				a
					font-size 3.5em !important

// @media all and (min-height:830px)
// 	body
// 		&.home
// 			.banner-title
// 				a
// 					font-size 2.5em !important

@media all and (max-width:1015px)
	// about page	
	body
		&.page-template-template-about
			.content-wrap	
				.inner-content
					br
						display none
		
		#post-7
			.content-wrap
				width 85%
				
				.inner-content
					br
						display none
	

@media all and (max-width:768px)
	// global styles
	body
		padding-top 50px
		
		h1
			font-size 1.2em
		
		#mobile-nav
			display none
		
			ul
				margin 0
				padding 0
				text-align center
				border-bottom 1px solid $grey
				background $light_grey

				li
					list-style none
					padding 5px 0
					
					&.current_page_item
						background $grey
					
					a
						font-family 'century-gothic', helvetica, sans-serif
						font-size 0.7em
						text-decoration none
						text-transform uppercase
						letter-spacing 0.25em
						color $charcoal
		
		.filtered-item.slide-toggle
			display none

		header#header
			height 50px
			padding 2%
			background $white
			background rgba(255,255,255,.98)
			border-bottom 1px solid $grey
			text-align center
			
			&.black, &.white
				#logo
					.black
						display block
					
					.white
						display none
				
			#main-nav
				display none
			
			#mobile-trigger
				display block
				position absolute
				top 50%
				right 0
				-webkit-transform translateY(-50%)
				-moz-transform translateY(-50%)
				transform translateY(-50%)
				background 0
				border 0
				color $charcoal
				
				&:focus
					outline none
		
		.panel-grid-cell.empty
			display none
		
		footer#footer
			position relative !important
			
			a[href^="tel"]
				color #fff !important
				text-decoration none !important
				border-bottom 1px solid #fff
				padding-bottom 1px
			
			.inner-wrap			
				div
					position relative !important
					width 100%
					text-align center
				
				#this-is-matte
					margin-bottom 10px
					line-height 3em
					
					span:first-of-type
						display block
		
		#searchform-trigger, #back-to-top
			display none

	// front-page
	body
		&.home
			.main-banner
				// margin-top 50px
				height auto

				.inner-wrap
					.banner-image
						opacity 1
						position relative
						top initial
						left initial
						height 150px
						z-index initial
						
						a
							&.touch
								display block
								width 100%
								height 100%
								z-index 5 !important
								
								p
									margin 0
									position absolute
									top 50%
									left 50%
									-webkit-transform translate(-50%, -50%)
									-moz-transform translate(-50%, -50%)
									transform translate(-50%, -50%)
									font-family $perpetua-mt
									font-size 1.5em
									color $white
									text-decoration none
									text-align center
									text-shadow 0 0 10px #222
								
					.banner-title
						display none
			
			.recent-work
				display none

			.content-wrap
				padding-top 30px
				
				.newsfeed-toggle
					margin-bottom 20px

				.newsfeed-grid
					width 100%
					-webkit-column-count 2
					-moz-column-count 2
					column-count 2
					-webkit-column-gap 20px
					-moz-column-gap 20px
					column-gap 20px
					
					.news-title, .news-categories a
						font-size 1em
				
				.newsfeed-expand
					.news-item
						.news-copy
							.left, .right
								width 100%
								margin-left 0
								margin-right 0
							
							.right
								margin-top 15px
						
						.news-thumbnail
							margin 30px auto 60px
	
	// single styles
	body
		&.single
			.single-banner
				height 33vh

			.content-wrap
				padding-top 40px
				
				.panel-grid
					margin-bottom 20px !important
				
				.bottom-right-panel, .bottom-left-panel
					position relative
					bottom initial
					left initial
					right initial
					padding-top initial !important
					padding-left initial !important
					padding-right initial !important
					padding-bottom initial !important
			
				.back-to-main, .next-project
					float none !important
				
				.next-project
					margin-top 45px
				
				.related-articles
					margin-top 60px
					
					.related-articles-title
						margin 30px auto
	
	// archive page (taxonomy-client.php)
	body
		&.tax-client
			.content-wrap
				margin-top 0
				
				.post
					padding 0 20px
					height 200px

	// about page
	body
		&.page-template-template-about
			.content-wrap
				min-height initial
				
				.inner-content
					position relative
					top initial
					left initial
					-webkit-transform translate(0)
					-moz-transform translate(0)
					transform translate(0)
					padding-top 50px
					
					br
						display none
	
	// clients page
	body
		&.page-template-template-clients
			.content-wrap
				min-height initial
				
				.inner-content
					position relative
					top initial
					left initial
					-webkit-transform translate(0)
					-moz-transform translate(0)
					transform translate(0)
					padding-top 50px
					max-height none
					
					ul
						-webkit-column-count 2
						-moz-column-count 2
						column-count 2
	
@media all and (max-device-width:768px)
	// videos page
	body
		&.page-template-template-reel
			background $black
			
			.video-wrap
				height auto
				background $black
			
			