@import "fonts.css";
@media all and (min-height:760px) and (min-width:930px) {
  body.home .banner-title a {
    font-size: 3.5em !important;
  }
}
@media all and (max-width:1015px) {
  body.page-template-template-about .content-wrap .inner-content br {
    display: none;
  }
  body #post-7 .content-wrap {
    width: 85%;
  }
  body #post-7 .content-wrap .inner-content br {
    display: none;
  }
}
@media all and (max-width:768px) {
  body {
    padding-top: 50px;
  }
  body h1 {
    font-size: 1.2em;
  }
  body #mobile-nav {
    display: none;
  }
  body #mobile-nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #c2c2c2;
    background: #fdfafa;
  }
  body #mobile-nav ul li {
    list-style: none;
    padding: 5px 0;
  }
  body #mobile-nav ul li.current_page_item {
    background: #c2c2c2;
  }
  body #mobile-nav ul li a {
    font-family: 'century-gothic', helvetica, sans-serif;
    font-size: 0.7em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: #242323;
  }
  body .filtered-item.slide-toggle {
    display: none;
  }
  body header#header {
    height: 50px;
    padding: 2%;
    background: #fff;
    background: rgba(255,255,255,0.98);
    border-bottom: 1px solid #c2c2c2;
    text-align: center;
  }
  body header#header.black #logo .black,
  body header#header.white #logo .black {
    display: block;
  }
  body header#header.black #logo .white,
  body header#header.white #logo .white {
    display: none;
  }
  body header#header #main-nav {
    display: none;
  }
  body header#header #mobile-trigger {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    background: 0;
    border: 0;
    color: #242323;
  }
  body header#header #mobile-trigger:focus {
    outline: none;
  }
  body .panel-grid-cell.empty {
    display: none;
  }
  body footer#footer {
    position: relative !important;
  }
  body footer#footer a[href^="tel"] {
    color: #fff !important;
    text-decoration: none !important;
    padding-bottom: 1px;
  }
  body footer#footer .inner-wrap div {
    position: relative !important;
    width: 100%;
    text-align: center;
  }
  body footer#footer .inner-wrap #this-is-matte {
    margin-bottom: 10px;
    line-height: 3em;
  }
  body footer#footer .inner-wrap #this-is-matte span:first-of-type {
    display: block;
  }
  body #searchform-trigger,
  body #back-to-top {
    display: none;
  }
  body.home .main-banner {
    height: auto;
  }
  body.home .main-banner .inner-wrap .banner-image {
    opacity: 1;
    position: relative;
    top: initial;
    left: initial;
    height: 150px;
    z-index: initial;
  }
  body.home .main-banner .inner-wrap .banner-image a.touch {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 5 !important;
  }
  body.home .main-banner .inner-wrap .banner-image a.touch p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'perpetua-mt', helvetica, sans-serif;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 0 10px #222;
  }
  body.home .main-banner .inner-wrap .banner-title {
    display: none;
  }
  body.home .recent-work {
    display: none;
  }
  body.home .content-wrap {
    padding-top: 30px;
  }
  body.home .content-wrap .newsfeed-toggle {
    margin-bottom: 20px;
  }
  body.home .content-wrap .newsfeed-grid .news-title,
  body.home .content-wrap .newsfeed-grid .news-categories a {
    font-size: 1em;
  }
  body.home .content-wrap .newsfeed-expand .news-item .news-copy .left,
  body.home .content-wrap .newsfeed-expand .news-item .news-copy .right {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  body.home .content-wrap .newsfeed-expand .news-item .news-copy .right {
    margin-top: 15px;
  }
  body.home .content-wrap .newsfeed-expand .news-item .news-thumbnail {
    margin: 30px auto 60px;
  }
  body.single .single-banner {
    height: 33vh;
  }
  body.single .content-wrap {
    padding-top: 40px;
  }
  body.single .content-wrap .panel-grid {
    margin-bottom: 20px !important;
  }
  body.single .content-wrap .bottom-right-panel,
  body.single .content-wrap .bottom-left-panel {
    position: relative;
    bottom: initial;
    left: initial;
    right: initial;
    padding-top: initial !important;
    padding-left: initial !important;
    padding-right: initial !important;
    padding-bottom: initial !important;
  }
  body.single .content-wrap .back-to-main,
  body.single .content-wrap .next-project {
    float: none !important;
  }
  body.single .content-wrap .next-project {
    margin-top: 45px;
  }
  body.single .content-wrap .related-articles {
    margin-top: 60px;
  }
  body.single .content-wrap .related-articles .related-articles-title {
    margin: 30px auto;
  }
  body.tax-client .content-wrap {
    margin-top: 0;
  }
  body.tax-client .content-wrap .post {
    padding: 0 20px;
    height: 200px;
  }
  body.page-template-template-about .content-wrap {
    min-height: initial;
  }
  body.page-template-template-about .content-wrap .inner-content {
    position: relative;
    top: initial;
    left: initial;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
  }
  body.page-template-template-about .content-wrap .inner-content br {
    display: none;
  }
  body.page-template-template-clients .content-wrap {
    min-height: initial;
  }
  body.page-template-template-clients .content-wrap .inner-content {
    position: relative;
    top: initial;
    left: initial;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
    padding-top: 50px;
    max-height: none;
  }
}
@media all and (max-device-width:768px) {
  body.page-template-template-reel {
    background: #000;
  }
  body.page-template-template-reel .video-wrap {
    height: auto;
    background: #000;
  }
}
