/*========================
FONT STYLE ADJUSTMENTS
========================*/

h1.taxonomy-title {
	font-size: 3.5em;
	line-height: 0.9em;
}

h1.narrow-post-title {
	font-size: 3em;
	line-height: 0.9em;
	letter-spacing: 0.03em;
}

a {
	text-decoration: none;
}

/*========================
BUTTONS
========================*/

a.matte_button {
	background: black;
	border: 1px solid black;
	color: white !important;
	padding: 10px 20px;
	display: inline-block;
	font-family: 'century-gothic', helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 15px;
	line-height: 15px;
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

a.matte_button:hover {
	background: white;
	color: black !important;
}

/*========================
STRUCTURE
========================*/

.container {
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
}

/*=== On the homepage adjust the padding ===*/

body.home {
	padding-top: 0px;
}

/*=== Back To Top ===*/

#back-to-top img {
	width: 33px;
}

body.page .content-wrap {
	margin: 100px auto 30px;
	font-family: 'perpetua', helvetica, sans-serif;
}

body.page .content-wrap a {
	color: black;
}

@media all and (max-width: 768px) {
	body.page .content-wrap {
		margin: 50px auto 60px;
	}
}

/*=== Page Header ===*/

.page_header {
	text-align: center;
	margin-bottom: 50px;
}

.page_header h1 {
	font-size: 40px;
	line-height: 48px;
	font-weight: normal;
}

@media all and (max-width: 1024px) {
	.page_header {
		margin-bottom: 30px;
	}
	.page_header h1 {
		font-size: 30px;
		line-height: 35px;
	}
}

@media all and (max-width: 568px) {
	.page_header {
		margin-bottom: 20px;
	}
	.page_header h1 {
		font-size: 25px;
		line-height: 30px;
	}
}

/*==================================
DESKTOP HEADER
==================================*/

@media all and (max-width: 768px) {
	header#header {
		display: none;
	}
}

/*==================================
MOBILE HEADER
==================================*/

.mobile_header {
	position: fixed;
	top: 0;
	display: none;
	width: 100%;
	height: 70px;
	z-index: 9;
	background: white;
	transition: all 0.3s ease-in-out;
}

@media all and (max-width: 768px) {
	.mobile_header {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

/*=== Styling for mobile header when navigation menu appears ===*/

.mobile_header_container {
	width: 90%;
	margin: 0 auto;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-flow: row;
	-ms-flex-flow: row;
	flex-flow: row;
}

/*=== Logo ===*/

.mobile_logo_container {
	width: 100px;
	margin: 0 auto;
}

.mobile_logo_container img {
	width: 100%;
	display: block;
}

/*=== CSS Menu Icon ===*/

.menu_icon {
	position: absolute;
	right: 20px;
	top: 24px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: 15px;
	width: 25px;
}

.menu_icon:before {
	content: '';
	width: 100%;
	border-bottom: 1px solid black;
	position: absolute;
	top: 7px;
}

/*==================================
MOBILE NAVIGATION (Fullscreen mobile overlay)
==================================*/

.mobile_navigation {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	background: white;
	z-index: 20;
	display: none;
}

.mobile_navigation.mobile_header {
	position: relative;
}

/*=== Header within the overlay ===*/

.close_menu_icon {
	position: absolute;
	right: 20px;
	top: 23px;
	width: 23px;
	height: 23px;
	overflow: hidden;
}

.close_menu_icon::before,
.close_menu_icon::after {
	content: '';
	position: absolute;
	height: 1px;
	width: 100%;
	top: 50%;
	left: 0;
	margin-top: -1px;
	background: #000;
}

.close_menu_icon::before {
	transform: rotate(45deg);
}

.close_menu_icon::after {
	transform: rotate(-45deg);
}

/*=== Mobile Vertical Navigation List ===*/

.mobile_navigation .content_container {
	position: absolute;
	top: 0;
	z-index: 1;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

ul#mobile-menu {
	padding: 0px;
	margin: 0px 0px 30px;
}

ul#mobile-menu li {
	text-align: center;
	padding-bottom: 20px;
	list-style-type: none;
	font-size: 33px;
}

@media all and (max-device-width: 736px) and (orientation: landscape) {
	ul#mobile-menu {
		margin: 0px 0px 5px;
	}
	ul#mobile-menu li {
		padding-bottom: 5px;
		font-size: 15px;
	}
}

ul#mobile-menu li a {
	text-transform: uppercase;
	font-family: 'perpetua-mt', helvetica, sans-serif;
	color: black;
	text-decoration: none;
}

.mobile_navigation .social {
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}

.mobile_navigation .social a {
	color: black;
	padding: 0px 10px;
	font-size: 20px;
}

@media all and (max-device-width: 736px) and (orientation: landscape) {
	.mobile_navigation .social a {
		padding: 0px 5px;
		font-size: 10px;
		margin-bottom: 20px;
	}
}

ul.music_films_container {
	list-style-type: none;
	margin: 0;
	position: relative;
	text-align: center;
	padding: 0;
	margin-bottom: 0px;
}

ul.music_films_container li {
	display: inline-block;
}

ul.music_films_container li a {
	display: inline-block;
	font-family: 'perpetua-mt', helvetica, sans-serif;
	text-decoration: none;
	color: black;
	font-size: 18px;
	padding: 0px 10px;
}

@media all and (max-device-width: 736px) and (orientation: landscape) {
	ul.music_films_container li a {
		font-size: 15px;
	}
}

/*========================
HOMEPAGE BACKGROUND REEL
========================*/

body.home .main-banner {
	width: 100%;
	height: 100vh;
	margin-bottom: 0;
}

.homepage_video {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.homepage_video .plyr--video,
.homepage_video .plyr__video-wrapper {
	height: 100%;
}

.homepage_video_plyr {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto !important;
	height: auto !important;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

/*=== Down Arrow ===*/

.homepage_down_arrow {
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
	text-align: center;
}

.homepage_down_arrow img {
	width: 35px;
}

/*=== Plyr Customizations ===*/

.homepage_video button.plyr__play-large {
	display: none !important;
}

.homepage_video .plyr--video .plyr__progress--buffer,
.homepage_video .plyr--video .plyr__volume--display {
	background: rgba(255, 255, 255, 0.3);
}

.homepage_video .plyr__progress--played,
.homepage_video .plyr__volume--display {
	color: white;
}

.homepage_video .plyr__progress--buffer,
.homepage_video .plyr__progress--played,
.homepage_video .plyr__volume--display {
	height: 2px;
	margin: -1px 0 0;
}

.homepage_video .plyr__progress--seek,
.homepage_video .plyr .plyr__volume input[type='range'] {
	opacity: 0;
}

.homepage_video .plyr__controls button {
	padding: 0;
}

.homepage_video .plyr__controls button svg {
	width: 13px;
	height: 13px;
	fill: transparent;
	stroke: white;
}

.homepage_video .plyr--video .plyr__controls {
	bottom: 50px;
	background: transparent;
	padding: 50px 50px 10px;
}

.homepage_video .plyr--video .plyr__controls button.tab-focus:focus,
.homepage_video .plyr--video .plyr__controls button:hover {
	background: transparent;
}

/*=== Video Adjustments to non Fullscreen on Mobile ===*/

@media all and (max-width: 1024px) {
	body.home .main-banner {
		height: 100%;
	}

	.homepage_video {
		height: 100%;
	}

	.homepage_video_plyr {
		position: relative;
		top: 0%;
		left: 0%;
		min-width: auto;
		min-height: auto;
		width: 100% !important;
		height: auto !important;
		-ms-transform: translateX(-0%) translateY(-0%);
		-moz-transform: translateX(-0%) translateY(-0%);
		-webkit-transform: translateX(-0%) translateY(-0%);
		transform: translateX(-0%) translateY(-0%);
	}
}

/*========================
HOMEPAGE MOBILE ADJUSTMENTS
========================*/

.homepage_about_content {
	display: none;
	background: #ffffff;
	height: 100vh;
	color: #000000;
	padding: 0px 20px;
	text-align: center;
}

.homepage_about_content h1 {
	letter-spacing: 1px;
}

@media all and (max-width: 768px) {
	.hide_on_mobile {
		display: none;
	}
	.homepage_about_content {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

/*========================
NEWSFEED GRID
========================*/

/*=== Newsfeed Toggle ===*/

@media all and (max-width: 768px) {
	.newsfeed-toggle {
		display: none;
	}
}

/*=== Newsfeed Grid View ===*/

.newsfeed-grid {
	width: 100%;
}

.newsfeed-grid .alm-reveal {
	display: flex;
	flex-flow: row wrap;
}

.newsfeed-grid .alm-reveal .news-item {
	display: block;
	padding: 0px 20px;
	margin-bottom: 40px;
	box-sizing: border-box;
	opacity: 0;
	width: 33.33%;
}

.newsfeed-grid-configuration-1 .alm-reveal .news-item:nth-child(6n + 2) {
	align-self: flex-start;
}

.newsfeed-grid-configuration-1 .alm-reveal .news-item:nth-child(6n + 5),
.newsfeed-grid-configuration-2 .alm-reveal .news-item:nth-child(6n + 4),
.newsfeed-grid-configuration-2 .alm-reveal .news-item:nth-child(6n + 6) {
	align-self: flex-start;
	margin-top: -18.7%;
}

.newsfeed-grid-configuration-2 .alm-reveal .news-item:nth-child(6n + 5) {
	margin-top: 0%;
}

@media all and (max-width: 950px) {
	.newsfeed-grid .alm-reveal .news-item {
		width: 100%;
	}
	.newsfeed-grid-configuration-1 .alm-reveal .news-item:nth-child(6n + 5),
	.newsfeed-grid-configuration-2 .alm-reveal .news-item:nth-child(6n + 4),
	.newsfeed-grid-configuration-2 .alm-reveal .news-item:nth-child(6n + 6) {
		margin-top: 0;
	}
}

.newsfeed-grid .news-item > * {
	margin: 0;
}

.newsfeed-grid .news-item .news-link {
	color: #000;
	text-decoration: none;
	display: block;
	position: relative;
}

.newsfeed-grid .news-item .news-thumbnail {
	width: 100%;
	height: auto;
}

.newsfeed-grid .news-item .news-title {
	width: 100%;
	display: block;
	margin: 10px auto 0;
	line-height: 0.9em;
}

.newsfeed-grid .news-item .news-categories {
	width: 100%;
	padding: 0;
	margin: 0;
}

.newsfeed-grid .news-item .news-categories a {
	position: relative;
	display: inline-block;
	width: auto;
	font-family: 'baskerville-italic', garamond, serif;
	text-decoration: none;
	text-transform: lowercase;
	color: #000;
	font-size: 1.25em;
}

/*=== Newsfeed Expand ===*/

.newsfeed-expand .news-item {
	margin-bottom: 100px;
}

/*=== Load More Button ===*/

.grid-read-more {
	display: block;
}

.expand-read-more {
	display: none;
}

.grid-read-more,
.expand-read-more,
.newsfeed-grid .alm-btn-wrap .alm-load-more-btn,
.newsfeed-grid .alm-btn-wrap .alm-load-more-btn.loading,
.newsfeed-grid .alm-btn-wrap .alm-load-more-btn:hover {
	margin: auto;
	background: 0;
	background-color: transparent !important;
	border: 0;
	position: relative;
	margin: 0 auto;
	font-family: 'baskerville-italic', garamond, serif;
	font-size: 1.2em;
	font-weight: 300;
	color: #000;
	text-decoration: none;
}

/*=== When no more items to load then hide the button ===*/

button#load-more.done {
	opacity: 0;
}

.newsfeed-grid .alm-btn-wrap .alm-load-more-btn:hover {
	background-color: transparent;
	color: #000;
}

/* button.alm-load-more-btn.loading {
  -webkit-animation: loading-fade .5s ease-in-out infinite;
  -moz-animation:    loading-fade .5s ease-in-out infinite; 
  -o-animation:      loading-fade .5s ease-in-out infinite;
  animation:         loading-fade .5s ease-in-out infinite; 
}

@-webkit-keyframes loading-fade {
  0%   { opacity: 1; }
  100% { opacity: .5; }
}

@-moz-keyframes loading-fade {
  0%   { opacity: 1; }
  100% { opacity: .5; }
}

@-o-keyframes loading-fade {
  0%   { opacity: 1; }
  100% { opacity: .5; }
}

@keyframes loading-fade {
  0%   { opacity: 1; }
  100% { opacity: .5; }
} */

.grid-read-more:focus,
.expand-read-more:focus,
.newsfeed-grid .alm-btn-wrap .alm-load-more-btn:focus {
	outline: none;
}

/* .grid-read-more:before, button.alm-load-more-btn.loading:before, .expand-read-more:before, .newsfeed-grid .alm-btn-wrap .alm-load-more-btn:before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 20px;
  width: 23px;
  background: url("../img/black-down-arrow.svg") center center no-repeat;
  background-size: contain;
} */

.grid-read-more:before,
button.alm-load-more-btn.loading:before,
.expand-read-more:before,
.newsfeed-grid .alm-btn-wrap .alm-load-more-btn:before {
	display: none !important;
}

button.alm-load-more-btn.loading {
	padding: 0px 20px !important;
}

button.alm-load-more-btn.loading:before {
	margin: 0px;
	top: initial;
}

.grid-read-more .grid-read-more,
.expand-read-more .grid-read-more {
	display: none;
}

/*========================
RELATED ARTICLES
========================*/

.related-articles .newsfeed-grid {
	display: block;
	overflow: auto;
	box-sizing: border-box;
	margin: 0px -10px;
	width: auto;
}

.related-articles .news-item {
	display: inline-block;
	width: 33.33%;
	float: left;
	padding: 0 10px;
	box-sizing: border-box;
}

@media all and (max-width: 768px) {
	.related-articles .news-item {
		width: 50%;
	}
	.related-articles .news-item:last-child {
		display: none;
	}
}

/*==================================
SINGLE PROJECT
==================================*/

.single-project .scroll-point .panel-grid h1 {
	font-size: 2.7em;
}

.single-project .scroll-point .panel-grid h2 {
	font-size: 1.8em;
	font-weight: 300;
	font-family: 'perpetua-mt';
}

@media all and (max-width: 768px) {
	.single-project .scroll-point .panel-grid h1 {
		font-size: 2em;
	}

	.single-project .scroll-point .panel-grid h2 {
		font-size: 1.3em;
	}
}

/*=== Link Styling for single posts and projects ===*/

.panel-grid a {
	font-family: 'PerpetuaMTStd-Bold', sans-serif;
	color: #000000;
}

.panel-grid a b,
.panel-grid a strong {
	font-weight: normal;
}

.panel-grid a:hover {
	color: black;
	text-decoration: none;
}

/*=== Caption Styling ===*/

.siteorigin-widget-tinymce .wp-caption {
	width: 100% !important;
}

.siteorigin-widget-tinymce .wp-caption img {
	display: block;
	width: 100%;
	height: auto;
}

.wp-caption-text {
	margin: 10px 0px 0px;
	line-height: 16px;
	font-size: 10pt;
}

.wp-caption.aligncenter .wp-caption-text {
	text-align: center;
}

.wp-caption.alignleft .wp-caption-text {
	text-align: left;
}

.wp-caption.alignright .wp-caption-text {
	text-align: right;
}

/*=== Flex Helpers for Unique Post layouts ===*/

.flexed {
	display: flex;
	flex-flow: row wrap;
}

.flexed.flex-first-column-space-between .panel-grid-cell:first-child,
.flexed.flex-second-column-space-between .panel-grid-cell:nth-child(2),
.flexed.flex-third-column-space-between .panel-grid-cell:nth-child(3),
.flexed.flex-fourth-column-space-between .panel-grid-cell:nth-child(4) {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*==================================
COLUMN SHORTCODES FOR NEWSFEED EXPAND
==================================*/

.content-column img {
	width: 100%;
	height: auto;
}

.content-column.full_width,
.content-column.one_half {
	padding: 0px 10px;
	box-sizing: border-box;
}

/*==================================
CLIENTS
==================================*/

.page-template-template-clients .content-wrap ul,
#post-9 .content-wrap ul {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
}

@media all and (max-width: 768px) {
	.page-template-template-clients .content-wrap ul,
	#post-9 .content-wrap ul {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
	.page-template-template-clients .content-wrap img,
	#post-9 .content-wrap img {
		display: none;
	}
}

.page-template-template-clients .content-wrap ul li,
#post-9 .content-wrap ul li {
	width: 100%;
	display: inline-block;
	line-height: 2.5em;
	float: left;
	letter-spacing: 0.07em;
	font-size: 12px;
}

.page-template-template-clients .content-wrap ul li a,
#post-9 .content-wrap ul li a {
	padding: 2px 4px;
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
	background: #000;
	color: #fff;
}

.page-template-template-clients .content-wrap ul li a:hover,
#post-9 .content-wrap ul li a:hover {
	background: #fff;
	color: #000 !important;
}

.page-template-template-clients .content-wrap img,
#post-9 .content-wrap img {
	height: 15px;
	margin-top: 80px;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	cursor: pointer;
}

.page-template-template-clients .content-wrap img:hover,
#post-9 .content-wrap img:hover {
	opacity: 0.5;
}

body header.white #main-nav ul li a[data-id='post-7'].click {
	pointer-events: none;
}

/*==================================
CATEGORY TAXONOMY PAGE
==================================*/

@media all and (max-width: 768px) {
	body.archive .content-wrap {
		margin-top: 50px;
	}

	body.archive .content-wrap .post .inner-content .narrow-post-title,
	body.archive .content-wrap .post .inner-content .post-title {
		margin-top: 30px;
	}

	h1.narrow-post-title {
		font-size: 20px;
	}

	body.archive .content-wrap .post {
		padding: 0 100px 0px 20px;
	}
}

/*========================
REEL
========================*/

/*=== Video ===*/

.video-wrap {
	cursor: pointer;
}

/*=== Controls ===*/

div#video-controls {
	position: absolute;
	top: 45%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	opacity: 0;
	transform: translateY(30px);
	transition: all 0.3s ease-in-out;
}

#video-controls.visible {
	opacity: 1;
	transform: translateY(0px);
}

div#video-controls img {
	display: inline-block;
	float: left;
	width: 50px;
	padding: 0px 20px;
	cursor: pointer;
}

/*========================
POSTS ON SEARCH AND ARCHIVE PAGES
========================*/

body.archive .content-wrap .post,
body.search .content-wrap .post {
	height: 525px;
}

@media all and (max-width: 768px) {
	body.archive .content-wrap .post,
	body.search .content-wrap .post {
		height: 300px;
	}
}

@media all and (max-width: 568px) {
	body.archive .content-wrap .post,
	body.search .content-wrap .post {
		height: 200px;
	}
}

/*========================
CAREERS
========================*/

.career_card {
	border-top: 1px solid black;
	padding: 30px 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.career_title {
	width: 35%;
	padding: 0 30px;
	box-sizing: border-box;
}

.career_title h1 {
	font-family: 'baskerville-italic', garamond, serif;
	font-weight: normal;
	margin: 0 0 20px;
}

span.career_type {
	font-size: 15px;
	white-space: pre;
}

.career_description {
	width: 65%;
}

.career_description p {
	margin: 0 0 20px;
}

@media all and (max-width: 768px) {
	.career_title {
		width: 100%;
		padding: 0;
	}
	.career_description {
		width: 100%;
	}
}

/*========================
FOOTER
========================*/

body #footer {
	color: #fff;
	width: 100%;
	background: #000;
	padding: 30px 0 60px;
	box-sizing: border-box;
	font-family: 'century-gothic', helvetica, sans-serif;
	font-size: 0.65em;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	line-height: 2em;
}

@media all and (max-width: 768px) {
	body #footer {
		height: auto;
	}
}

body #footer .inner-wrap {
	width: 90%;
	max-width: 1280px;
	margin: auto;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
}

/*=== Footer Social ===*/

#footer .social {
	margin-bottom: 0px;
	line-height: 13px;
}

#footer .social a {
	font-size: 12px;
	margin: 0 5px;
}

#footer .social a:first-child {
	margin: 0 5px 0 0;
}

@media all and (max-width: 768px) {
	#footer .social a:first-child {
		margin: 0 5px;
	}
}

/*=== Footer Fonts ===*/

#footer p {
	margin: 0 0 20px;
}

#footer a {
	color: white;
}

#footer b {
	font-family: 'century-gothic-bold';
}

/*=== This is MATTE ===*/

body #footer .inner-wrap #this-is-matte {
	width: 40%;
}

@media all and (max-width: 768px) {
	body #footer .inner-wrap #this-is-matte {
		width: 100%;
	}
}

body #footer .inner-wrap #this-is-matte span {
	margin: 0 10px;
}
body #footer .inner-wrap #this-is-matte a {
	color: #fff;
	text-decoration: none;
	opacity: 0.7;
}
body #footer .inner-wrap #this-is-matte a:hover {
	opacity: 1;
	text-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
}

/*=== Footer Left ===*/

.footer_left {
	padding: 0 20px;
}

@media all and (max-width: 768px) {
	.footer_left {
		order: 1;
	}
}

/*=== Footer Right ===*/

.footer_right {
	text-align: right;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}

@media all and (max-width: 768px) {
	.footer_right {
		align-items: center;
	}
}

.footer_right img.footer_logo {
	width: 100px;
	margin-bottom: 20px;
}

.footer_right ul.matte_components {
	list-style: none;
	padding: 0;
	margin: 0 0 20px;
}

.footer_right ul.matte_components li {
	display: inline-block;
}

.footer_right ul.matte_components li:after {
	content: '|';
	padding: 0 5px 0 10px;
}

.footer_right ul.matte_components li:last-child:after {
	display: none;
}

/*=== Email Subscribe ===*/

.email_subscribe {
	width: 100%;
}

.mc-field-group label {
	margin-bottom: 10px;
	display: inline-block;
}

input#mce-EMAIL {
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	border-radius: 0;
	border-bottom: 1px solid white;
	width: 100%;
	display: block;
	height: 12px;
	vertical-align: top;
}

input#mce-EMAIL:focus {
	outline: 0;
}

input#mc-embedded-subscribe {
	display: none;
}

/*=== Contact Info ===*/

body #footer .inner-wrap #contact {
	width: 20%;
}

@media all and (max-width: 768px) {
	body #footer .inner-wrap #contact {
		width: 100%;
	}
}

body #footer .inner-wrap #contact .social a,
body #footer .inner-wrap #contact .social button {
	color: #fff;
	border: none;
	background: none;
	padding: 0;
	font-size: 1.25em;
	margin: 0 10px 10px 0px;
}

@media all and (max-width: 768px) {
	body #footer .inner-wrap #contact .social a,
	body #footer .inner-wrap #contact .social button {
		margin: 0px 10px 10px;
	}
}

/*=== Copyright ===*/

.copyright {
	padding: 10px 0;
}

ul.footer_links {
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
}

ul.footer_links li {
	display: inline-block;
	text-transform: uppercase;
	color: black;
	font-size: 0.65em;
	letter-spacing: 0.25em;
	font-family: 'century-gothic', helvetica, sans-serif;
	margin: 0 20px;
}

ul.footer_links li a {
	color: black;
}

@media all and (max-width: 768px) {
	ul.footer_links li {
		display: block;
		margin: 0 0 10px;
	}

	ul.footer_links li:last-child {
		display: block;
		margin: 0px;
	}
}
