<?php 
get_header(); 
$featured_clients = get_field('featured_clients');
?>
<div class="main-banner">
	<div class="inner-wrap">
		<?php $i = 0; foreach( $featured_clients as $term ) : ?>		
		<div id="post-<?php echo $term->term_id; ?>" class="banner-image filtered-item <?php if ( $i == 0 ) : ?>full-opacity<?php endif; $i++; ?>" style="background:url(<?php echo get_field('banner_image', $term); ?>) center center no-repeat; background-size:cover;">
			<a data-id="post-<?php echo $term->term_id; ?>" class="touch" href="<?php echo get_term_link( $term->term_id ); ?>"><p><?php echo $term->name; ?></p></a>
		</div>
		<?php endforeach; ?>	
		<div class="banner-title">
		<?php $j = 0; foreach( $featured_clients as $term ) : ?>
			<a data-id="post-<?php echo $term->term_id; ?>" class="filter <?php if ( $j == 0 ) : ?>active<?php endif; $j++; ?>" href="<?php if ( $term->count > 1 ) : echo get_term_link( $term->term_id ); else : echo 'roger roger'; endif; ?>"><?php echo $term->name; ?></a><br />
		<?php endforeach; ?>
		</div>
		<div class="recent-work">
			<a href="#scroll-point" class="scroll-down">recent work</a>
		</div>
	</div>
</div>
<div id="scroll-point" class="content-wrap scroll-point">
	<div class="newsfeed-toggle">
		<span>newsfeed</span>
		<span>:</span>
		<button id="expand">expand</button>
		<button id="collapse">collapse</button>
	</div>
<?php
get_template_part('includes/newsfeed', 'grid');
get_template_part('includes/newsfeed', 'expand');
?>
</div><!-- content-wrap end -->
<?php get_footer(); ?>